In [1]:
import pandas as pd

In [ ]:
countries = pd.Series(
    data = ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ'],
    name = 'countries'
)
display(countries)

In [ ]:
countries = pd.Series({
    'UK': 'Англия',
    'CA': 'Канада',
    'US' : 'США',
    'RU': 'Россия',
    'UA': 'Украина',
    'BY': 'Беларусь',
    'KZ': 'Казахстан'},
    name = 'countries'
)
display(countries)

In [ ]:
print(countries.loc['US'])
print(countries.loc[['US', 'RU', 'UK']])
print(countries.iloc[6])
print(countries.iloc[1:4])

In [ ]:
def create_medications(names, counts):
    dict_medications = dict(zip(names, counts))
    series_medications = pd.Series(
        dict_medications)
    return series_medications
def get_percent(medications, name):
    perc = medications.loc[name] / medications.sum() * 100
    return perc

In [ ]:
def create_medications(names, counts):
    medications = pd.Series(index=names, data=counts)
    return medications
def get_percent(medications, name):
    return(medications.loc[name]/sum(medications) * 100)

In [ ]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})
countries_df.index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
display(countries_df)

In [ ]:
countries_df = pd.DataFrame(
    data = [
        ['Англия', 56.29, 133396],
        ['Канада', 38.05, 9984670],
        ['США', 322.28, 9826630],
        ['Россия', 146.24, 17125191],
        ['Украина', 45.5, 603628],
        ['Беларусь', 9.5, 207600],
        ['Казахстан', 17.04, 2724902]
    ],
    columns= ['country', 'population', 'square'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
)
display(countries_df)

In [ ]:
countries_df.mean(axis=0, numeric_only=True)

In [ ]:
countries_df.mean(axis=1, numeric_only=True)

In [ ]:
countries_df.population
countries_df['population']
countries_df.loc['UK', 'square']
countries_df.loc['RU', ['population', 'square']]
countries_df.loc[['UA', 'BY', 'KZ'],['population', 'square']]
countries_df.iloc[4:8, 1:3]

In [ ]:
def create_companyDF(income, expenses, years):
    in_ex = pd.DataFrame({
        'Income' : income,
        'Expenses' : expenses
    })
    in_ex.index = years
    return in_ex
#income = [478, 512, 196]
#expenses = [156, 130, 270]
#years = [2018, 2019, 2020]
#display(create_companyDF(income, expenses, years))
display(create_companyDF([612, 516, 329, 158], [136,163,250,361], [2017,2018,2019,2020]))

def get_profit(df, year):
    if year not in df.index:
        return None
    else:
        return (df.loc[year, 'Income'] - df.loc[year, 'Expenses'])
#df = create_companyDF(income, expenses, years)
#display(get_profit(df, 2017))
print(get_profit(year = 2013, df = create_companyDF([612, 516, 329, 158], [136,163,250,361], [2017,2018,2019,2020])))

In [ ]:
def create_companyDF(income, expenses, years):
    df = pd.DataFrame({
        'Income': income,
        'Expenses': expenses
        },
        index = years
    )
    return df

def get_profit(df, year):
    if year in df.index:
        profit = df.loc[year, 'Income'] - df.loc[year, 'Expenses']
    else:
        profit=None
    return profit

In [3]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

countries_df.to_csv('data/countries.csv', index=False, sep=';')

In [ ]:
countries_data = pd.read_csv('data/countries.csv', sep=';')
display(countries_data)

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/esabunor/MLWorkspace/master/melb_data.csv')
display(data)

In [ ]:
melb_data = pd.read_csv('data/melb_data.csv', sep=',')
display(melb_data)

In [16]:
melb_data.loc[90, 'Date']

'10/09/2016'

In [17]:
melb_data.loc[3521, 'Landsize'] / melb_data.loc[1690, 'Landsize']

2.7857142857142856

In [ ]:
display(melb_data.head())#возвращают n первых и n последних строк
melb_data.tail(7)
melb_data.shape#кортеж с количеством строк и столбцов
melb_data.info()#детальную информацию о столбцах таблицы
melb_data['Car'] = melb_data['Car'].astype('int64')#преобразовать тип данных столбца
melb_data['Bedroom'] = melb_data['Bedroom'].astype('int64')
melb_data['Bathroom'] = melb_data['Bathroom'].astype('int64')
melb_data['Propertycount'] = melb_data['Propertycount'].astype('int64')
melb_data['YearBuilt'] = melb_data['YearBuilt'].astype('int64')
melb_data.describe().loc[:, ['Distance', 'BuildingArea' , 'Price']]#статистические свойства её столбцов
melb_data.describe(include=['object'])#С помощью параметра include можно указать тип данных, для которого нужно вывести описательную информацию
melb_data['Regionname'].value_counts()#частоту для каждого уникального знания
melb_data['Regionname'].value_counts(normalize=True)#результат будет представляться в виде доли (относительной частоты)

In [31]:
melb_data.shape[0] - melb_data.count()[17]

1369

In [ ]:
print(melb_data['Price'].mean())
print(melb_data['Car'].max())
print(melb_data['Rooms'].mode())#самого распространённого значения в столбце
melb_data['Regionname'].mode()

In [ ]:
rate = 0.12
income = melb_data['Price'].sum() * rate
print('Total income of real estate agencies:', round(income, 2))

In [ ]:
landsize_median = melb_data['Landsize'].median() 
landsize_mean =  melb_data['Landsize'].mean()
print(abs(landsize_median - landsize_mean)/landsize_mean)

In [47]:
area_median = melb_data['BuildingArea'].median() 
area_mean =  melb_data['BuildingArea'].mean()
print(abs(area_median - area_mean)/area_mean)

0.09764079662364533

.count()	Количество непустых значений
.mean()	Среднее значение
.min()	Минимальное значение
.max()	Максимальное значение
.var()	Дисперсия
.std()	Стандартное отклонение
.sum()	Сумма
.quantile(x)	Квантиль уровня x
.nunique()	Число уникальных значений
Маской называется Series, которая состоит из булевых значений, при этом значения True соответствуют тем индексам, для которых заданное условие выполняется, в противном случае ставится значение False

In [ ]:
print(melb_data['Propertycount'].max())
print(melb_data['Distance'].std())
print(melb_data['Bedroom'].mode())

In [ ]:
mask = melb_data['Price'] > 2000000
display(mask)
display(melb_data[mask].head())
melb_data[melb_data['Price'] > 2000000]
melb_data[melb_data['Rooms'] == 3].shape[0]#количество зданий с тремя комнатамиобратимся к результирующей таблице по столбцу Rooms и найдём число строк в ней с помощью атрибута shape
melb_data[(melb_data['Rooms'] == 3) & (melb_data['Price'] < 300000)].shape[0]#найдём число трёхкомнатных домов с ценой менее 300 тысяч
melb_data[((melb_data['Rooms'] == 3) | (melb_data['BuildingArea'] > 100)) & (melb_data['Price'] < 300000)].shape[0]#дома с ценой менее 300 тысяч, у которых либо число комнат равно 3 либо площадь домов более 100 квадратных метров
melb_data[melb_data['Type'] == 't']['Rooms'].max()#найдём максимальное количество комнат в таунхаусах. Так как в результате фильтрации получается DataFrame, то обратимся к нему по столбцу Rooms и найдём максимальное значение
mean_price = melb_data['Price'].mean()
melb_data[melb_data['Price'] > mean_price]['BuildingArea'].median()#медианную площадь здания у объектов, чья цена выше средней

In [ ]:
melb_data[melb_data['Bathroom'] < 1].shape[0]
melb_data[(melb_data['SellerG'] == 'Nelson') & (melb_data['Price'] > 3000000)].shape[0]
melb_data[melb_data['BuildingArea'] == 0]['Price'].min()
melb_data[(melb_data['Price'] < 1000000) & ((melb_data['Rooms'] > 5) | (melb_data['YearBuilt'] > 2015))]['Price'].mean()
melb_data[(melb_data['Type'] == 'h') & (melb_data['Price'] < 3000000)]['Regionname'].value_counts()

In [17]:
student_data = pd.read_csv('data/students_performance.csv', sep=',')
display(student_data)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [24]:
student_data.loc[155, 'writing score']
student_data.info()
student_data['math score'].mean()
student_data['race/ethnicity'].value_counts()
student_data[student_data['test preparation course'] == 'completed']['reading score'].mean()
student_data[student_data['math score'] == 0].shape[0]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

1

In [36]:
mask_1 = student_data[student_data['lunch'] == 'standard']['math score'].mean()
mask_2 = student_data[student_data['lunch'] == 'free/reduced']['math score'].mean()
student_data['parental level of education'].value_counts(normalize=True)
med_a = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()
mean_c = student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()
print(abs(med_a - mean_c))
print(med_a, mean_c)

5.827586206896555
62.0 67.82758620689656