In [1]:
import pandas as pd

In [28]:
bike_data = pd.read_csv('data/citibike-tripdata.csv', sep=',')
bike_data.head

<bound method NDFrame.head of                        starttime                  stoptime  start station id
0       2018-09-01 00:00:05.2690  2018-09-01 00:27:20.6340             252.0  \
1       2018-09-01 00:00:11.2810  2018-09-01 00:02:23.4810             314.0
2       2018-09-01 00:00:20.6490  2018-09-01 00:55:58.5470            3142.0
3       2018-09-01 00:00:21.7460  2018-09-01 00:07:38.5830             308.0
4       2018-09-01 00:00:27.3150  2018-09-01 02:21:25.3080             345.0
...                          ...                       ...               ...
299995  2018-09-05 19:08:27.8460  2018-09-05 19:15:51.4940             494.0
299996  2018-09-05 19:08:28.3700  2018-09-05 19:20:01.5080            3016.0
299997  2018-09-05 19:08:27.5090  2018-09-05 19:13:40.5060            3686.0
299998  2018-09-05 19:08:29.2300  2018-09-05 20:04:29.3220             254.0
299999  2018-09-05 19:08:29.7110  2018-09-05 19:12:14.7620            3496.0

                     start station name  start station latitude
0          MacDougal St & Washington Sq               40.732264  \
1       Cadman Plaza West & Montague St               40.693830
2                       1 Ave & E 62 St               40.761227
3               St James Pl & Oliver St               40.713079
4                       W 13 St & 6 Ave               40.736494
...                                 ...                     ...
299995                  W 26 St & 8 Ave               40.747348
299996                Kent Ave & N 7 St               40.720368
299997        Gansevoort St & Hudson St               40.739448
299998                  W 11 St & 6 Ave               40.735324
299999                 1 Ave & E 110 St               40.792327

        start station longitude  end station id            end station name
0                    -73.998522           366.0    Clinton Ave & Myrtle Ave  \
1                    -73.990539          3242.0  Schermerhorn St & Court St
2                    -73.960940          3384.0             Smith St & 3 St
3                    -73.998512          3690.0         Park Pl & Church St
4                    -73.997044           380.0            W 4 St & 7 Ave S
...                         ...             ...                         ...
299995               -73.997236           448.0            W 37 St & 10 Ave
299996               -73.961651          3086.0   Graham Ave & Conselyea St
299997               -74.005070           168.0             W 18 St & 6 Ave
299998               -73.998004           499.0          Broadway & W 60 St
299999               -73.938300          3502.0    Lexington Ave & E 111 St

        end station latitude  end station longitude  bikeid    usertype
0                  40.693261             -73.968896   25577  Subscriber  \
1                  40.691029             -73.991834   34377  Subscriber
2                  40.678724             -73.995991   30496  Subscriber
3                  40.713342             -74.009355   28866  Subscriber
4                  40.734011             -74.002939   20943    Customer
...                      ...                    ...     ...         ...
299995             40.756604             -73.997901   19531  Subscriber
299996             40.715143             -73.944507   34020  Subscriber
299997             40.739713             -73.994564   33220  Subscriber
299998             40.769155             -73.981918   34744  Subscriber
299999             40.795412             -73.944123   18292  Subscriber

        birth year  gender
0             1980       1
1             1969       0
2             1975       1
3             1984       2
4             1994       1
...            ...     ...
299995        1990       2
299996        1982       1
299997        1991       1
299998        1975       0
299999        1966       1

[300000 rows x 14 columns]>

In [20]:
bike_df = bike_data.copy()
display(bike_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

None

In [5]:
bike_df.shape[0] - bike_df.count()[2]

169

In [6]:
print(bike_df['start station id'].mode())

0    281.0
Name: start station id, dtype: float64

In [7]:
print(bike_df['bikeid'].mode())

0    33887
Name: bikeid, dtype: int64

In [8]:
bike_df['usertype'].value_counts(normalize=True)
#mode_usertype = data['usertype'].mode()[0]
#count_mode_user = data[data['usertype'] == mode_usertype].shape[0]
#print(round(count_mode_user / data.shape[0], 2))

usertype
Subscriber    0.774007
Customer      0.225993
Name: proportion, dtype: float64

In [9]:
bike_df['gender'].value_counts()
#male_count = data[data['gender'] == 1].shape[0]
#female_count = data[data['gender'] == 0].shape[0]
#print(max([male_count, female_count]))

gender
1    183582
2     74506
0     41912
Name: count, dtype: int64

In [13]:
bike_df.nunique()

starttime                  299836
stoptime                   299813
start station id              759
start station name            759
start station latitude        770
start station longitude       772
end station id                765
end station name              765
end station latitude          775
end station longitude         777
bikeid                      10004
usertype                        2
birth year                     91
gender                          3
dtype: int64

In [11]:
2018 - bike_df['birth year'].max()

16

In [14]:
bike_df['start station name'].value_counts()

start station name
Grand Army Plaza & Central Park S    1928
Central Park S & 6 Ave               1909
Pershing Square North                1873
12 Ave & W 40 St                     1845
West St & Chambers St                1835
                                     ...
NYCBS Depot - GOW                      15
Franklin Ave & Empire Blvd             11
Railroad Ave & Kay Ave                  9
47 Ave & Skillman Ave                   7
Eastern Pkwy & Washington Ave           6
Name: count, Length: 759, dtype: int64

In [15]:
bike_df['end station name'].value_counts()

end station name
West St & Chambers St          1963
12 Ave & W 40 St               1909
Pershing Square North          1850
Central Park S & 6 Ave         1828
E 17 St & Broadway             1804
                               ...
Exchange Place                    3
Union St                          1
Warren St                         1
Montrose Ave & Bushwick Ave       1
Liberty Light Rail                1
Name: count, Length: 765, dtype: int64

In [21]:
bike_df = bike_df.drop(['start station id', 'end station id'], axis=1)
bike_df.shape

(300000, 12)

In [23]:
bike_df['age'] = 2018 - bike_df['birth year']
bike_df = bike_df.drop(['birth year'], axis=1)

In [27]:
bike_df[bike_df['age'] > 60].shape[0]
#data['age'] = 2018 - data['birth year']
#data.drop(['birth year'], axis=1, inplace=True)
#print(data[data['age'] > 60].shape[0])

11837

In [ ]:
bike_df['stoptime'] = pd.to_datetime(bike_df['stoptime'])
display(bike_df['stoptime'])

In [31]:
bike_df['starttime'] = pd.to_datetime(bike_df['starttime'])

In [ ]:
trip_duration = bike_df['stoptime'] - bike_df['starttime']
display(trip_duration)
#data.loc[3, 'trip duration']

In [50]:
weekend = bike_df['starttime'].dt.dayofweek

In [51]:
weekend = weekend.apply(lambda x: 1 if x==5 or x==6 else 0)

In [ ]:
print(weekend.value_counts())
#weekday = data['starttime'].dt.dayofweek
#data['weekend'] = weekday.apply(lambda x: 1 if x ==5 or x == 6 else 0)
#data['weekend'].sum()

In [ ]:
def get_time_of_day(time):
    if 0 <= time <= 6:
        return 'night'
    elif 6 < time <= 12:
        return 'morning'
    elif 12 < time <= 18:
        return 'day'
    elif 18 < time <= 23:
        return 'evening'

data['time_of_day'] = data['starttime'].dt.hour.apply(get_time_of_day)
a = data[data['time_of_day'] == 'day'].shape[0]
b = data[data['time_of_day'] == 'night'].shape[0]
print(round(a / b))

In [57]:
time_of_day = bike_df['starttime'].dt.hour

In [58]:
def day_hour(hours):
    if hours >= 0 and hours <= 6:
        return 'night'
    elif hours > 6 and hours <= 12:
        return 'morning'
    elif hours > 12 and hours <= 18:
        return 'day'   
    else:
        return 'evening' 
time_of_day = time_of_day.apply(day_hour).value_counts()
print(time_of_day)

starttime
day        143012
morning     95530
evening     46373
night       15085
Name: count, dtype: int64

In [59]:
143012/15085

9.480411004308916